   * {
  margin: 0%;
  padding: 0%;
}
.parent {
  position: relative;
  background-position: center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  background-size: cover;
  height: 775px;
  width: 100%;
}
.navbar {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: large;
  color: aliceblue;
  font-weight: bold;
}
.navbar-left {
  padding: 0px 50px;
  margin-right: 20px;
}
.navbar-right {
  display: flex;
  gap: 30px;
  padding: 0px 50px;
}
.resto {
  margin-right: 50px;
}
.title {
  position: fixed;
  top: 300px;
}
.title h1{
  font-size: 2.3rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  height: 60px;
  position: relative;
  top: 150px;
}

.input {
  position: absolute;
  left: 550px;
}

.title {
  position: absolute;
  left: 330px;
  top: 240px;
}

.white {
  color: white;
}

#bg{
  height: 70vh;
  width: 100%;
}
.holder{
  background-color: brown;
  margin-top: 20px;
}
/* .immageserachbox {
    background-color: white;
    width: 700px;
    text-align: center;
    padding-top: 1px;
    box-shadow: 0.1px 0.1px 0.1px #5f5f5f, 0px 0px 0px 1px #ecf0f3, 1.2px 1.2px 1.2px #a7aaaa, -2px -2px 2px #ffffff;
    border-radius: 5px 5px 5px 5px;
} */



